@model DataAccessLayer.Employee

<h2>Employee Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.CheckInTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.CheckOutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.CheckOutTime)
        </dd>
    </dl>
</div>




<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
